body { 
  background-color: lavender; 
  font-family: sans-serif;
} 

nav {
  background-color: #231832;
  padding: 1em 0;           
  border-radius: 40px;        
  max-width: 100%;   
  margin: 20px auto;        
  box-sizing: border-box;    
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
}

nav ul { 
  list-style: none; 
  padding: 0; 
  margin: 0; 
  display: flex; 
  justify-content: center; 
  gap: 5px; 
  font-family: sans-serif;

} 

nav a { 
  text-decoration: none; 
  color: lavender; 
  font-weight: bold; 
  font-size: 1.2em; 
  padding: 0.5em 1em; 
  transition: color 0.3s ease, transform 0.3s ease;
  font-family: sans-serif;

} 

nav a:hover { 
  color: #FFD700; 
  text-decoration: scale(1.5); 
}

main img {
  display: block;
  margin: 20px auto; 
  max-width: 100%;   
  height: auto;   
  border-radius: 40px;
}
